name: Test

on:
  push:
    branches:
      - main
      - dev

jobs:
   slack-notification:
      if: always()
      name: Slack Notification
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v3
        - uses: technote-space/workflow-conclusion-action@v2



